<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/warp10-quantumviz/warp10-geoquantumviz.html">

<dom-module id="quantumviz-practice-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <warp10-geoquantumviz map-zoom="14" host="https://warp.cityzendata.net/dist/api/v0/exec">
      
      'RGbSPtKw9BhaZLfPdAGPZZDhAEVTldaYFY._MXgrP6rqjBFTnuA5Y9m5We0H_nhPXF5SeanXJo1oKWJjbtHYdvZYKWw2mGC691KGIHU3pvxu9oGJ1Sk3n5757P9nXRIiYCa6xNNMR3Xe5qCBA8UfsV' 'READ' STORE
      'C2m4E5_r2eFvrmH1dTife5_ppRtmsHRcavNvkF3acT9GI755jGjcZtLJWc6cOrsMClrYmqRTIEt9t4QHZXkSkEBf_LrpIVPG9z5_oqnvusEPVsn1eir7kt3uhYjGXSjV' 'WRITE' STORE
    
$READ AUTHENTICATE 1000000 MAXOPS

'POLYGON ((-0.60 47.25, -0.60 47.65, -0.35 47.65, -0.35 47.35, -0.60 47.25))' 0.01 false GEO.WKT
    GEO.REGEXP '~(' SWAP + ')' +
    'regexp' STORE
    
    [ $READ 'data.fuel.france' { 'type' 'gazole' 'loc' $regexp } NOW -1 ] FETCH 'data' STORE
    $data 
    
    NOW ISO8601
    '2015-12-31T00:00:00.000000Z'
    TIMECLIP
    NONEMPTY
    
    [ SWAP
    <%
    // Extract lat + lon
    [ 3 7 ] SUBLIST FLATTEN DUP
    [ 1 2 ] SUBLIST LIST-> DROP
    47.48 -0.56
    HAVERSINE 'dist' STORE
    <% $dist 10000.0 > %>
    <% NULL 4 SET %>
    IFT
    %> MACROMAPPER 0 0 0
    ] MAP NONEMPTY
    [ SWAP
    bucketizer.min
    0
    31536000000000
    0
    ] BUCKETIZE
    
    [ SWAP
    []
    reducer.min
    ] REDUCE
    [ SWAP mapper.tostring 0 0 0 ] MAP
  
    // Get station value and its metadata (Name of the station)
    //LIST-> DROP [ SWAP LOCATIONS ] FLATTEN LIST-> DROP ->HHCODE 'hfilter' STORE
    //[ $data [ ] { 'loc' $hfilter } filter.byattr ] FILTER
    
    'gtsList' STORE
    { 'gts' $gtsList 'params' [ { 'render' 'marker' 'marker' 'fuel' } ] }
    </warp10-geoquantumviz>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class QuantumvizPracticeApp extends Polymer.Element {
      static get is() { return 'quantumviz-practice-app'; }
      static get properties() {
        return {};
      }

      ready() {
        super.ready();
      }
    }

    window.customElements.define(QuantumvizPracticeApp.is, QuantumvizPracticeApp);
  </script>
</dom-module>